.admin {

    .title {
        text-align: center;
        margin-top: 4em;
    }

    .welcome {
        color: chocolate;
        text-transform: capitalize;
    }

    .scheduler {
        // background-color: aqua;
    }

    .task-link {
        margin: .2em;
        padding: .5em 1em;
        display: inline;
        border-radius: 1em;
    
        a {
            text-decoration: none;
            color: darkblue;
            text-transform: uppercase;
            font-size: .7rem;
        }
    }

    .task-link:first-of-type {
        background-color: lightsalmon;
        margin-left: 3em;
    }

    .task-link {
        &:nth-child(2) {
            background-color: yellow;
        }

        &:nth-child(3) {
            background-color: lightgreen;
        }

        &:nth-child(4) {
            background-color: lightpink;
        }
    }

    .forms {
        // background-color: #f1f1f1;
        margin: 1.5em .5em 2em;
        padding: 0 1em 2em;
        box-sizing: border-box;
        border-top: 1px solid #17b978;
        // background-color: #d2e4dc;
    }
}
