.footer {
    width: 100%;
    background-color: #17b978;
    padding: 10%;
    box-sizing: border-box;

    .socials {
        width: 100%;
        display: flex;
        justify-content: space-between;
        // background-color: blue;
    }
}